<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.user_service.mapper.UserMapper">

    <resultMap id="UserResultMap" type="com.example.user_service.entity.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="passwordHash" column="password_hash"/>
        <result property="phone" column="phone"/>
        <result property="status" column="status"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <select id="findByUsername" resultMap="UserResultMap">
        select id, username, password_hash, phone, status, created_at, updated_at
        from users
        where username = #{username}
        limit 1
    </select>

    <insert id="insert"
            parameterType="com.example.user_service.entity.User"
            useGeneratedKeys="true"
            keyProperty="id">
        insert into users(username, password_hash, phone, status)
        values(#{username}, #{passwordHash}, #{phone}, #{status})
    </insert>

</mapper>
